.backgroundImageContainer {
  /* border: 3px solid red; */
  /* position: relative; */
  position: absolute;
  /* transform: skew(-20deg); */
  overflow: hidden;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  /* transform: skew(20deg); */
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .backgroundImageContainer {
    width: 470vh;
  }
}
